@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
a {
    text-decoration: none;
    color: #333;
}
h2 {
    font-family: 'Fugaz One', cursive;
    font-size: 54px;
    color: #dedede;
}
body {
    overflow-x: hidden;
    font-family: 'Pretendard-Regular';
    color: #333;
    box-sizing: border-box;
}
#gnb {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 100;
}
#gnb > h1 {
    margin: 20px 0 70px;
    opacity: .5;
}
#gnb > nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    transition: all 1s;
}
#gnb:hover > nav {
    height: 320px;
    opacity: 1;
    transition: all 1s;
}
.menu_wrap > h1 {
    margin: 20px 0 70px;
}
.menu_wrap > ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 900px;
}
.menu_wrap > ul > li {
    display: inline-block;
}
.menu_wrap ul ul > p {
    margin-bottom: 25px;
    font-size: 21px;
    font-weight: 600;
}
.menu_wrap li li {
    width: 150px;
    height: 35px;
    line-height: 32px;
}
.menu_wrap li li a {
    transition: all .2s;
    /* font-weight: 600; */
}
.menu_wrap li li:hover a {
    color: #45d4cc;
    font-size: 18px;
    transition: all .2s;
}
.logIn {
    position: absolute;
    right: 50px;
    top: 5px;
    z-index: 100;
}
.logIn a {
    display: inline-block;
    width: 110px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.logIn a {
    color: #dedede;
}
.menu_wrap .logIn a {
    color: #45d4cc;
}
#gnb > .logIn {
    opacity: .5;
}





.instructor {
    position: relative;
    background: url(../images/visual.jpg);
    color: #dedede;
}
.instructor h2 {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    opacity: 0;
}
@keyframes inst01 {
    0% {
        top: 0px;
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        top: 350px;
        opacity: 1;
    }
}
body.fp-viewing-instructor .instructor h2 {
    animation: inst01 1.5s 0s forwards;
}
.instructor .inst_wrap {
    position: relative;
    top: 10px;
}
.instructor .inst_wrap > span {
    margin: 0 auto;
    display: block;
    width: 0px;
    height: 2px;
    background-color: #dedede;
}
body.fp-viewing-instructor .instructor .inst_wrap > span {
    animation: inst03 1.5s 1.2s forwards;
}
@keyframes inst03 {
    0% {
        width: 0px;
        opacity: 0;
    }
    100% {
        width: 1800px;
        opacity: 1;
    }
}
.instructor .inst_wrap ul {
    position: absolute;
    top: -6px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    opacity: 0;
}
body.fp-viewing-instructor .instructor ul {
    animation: inst02 2s .9s forwards;
}
@keyframes inst02 {
    0% {
        top: 100px;
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        top: -6px;
        opacity: 1;
    }
}
.instructor .inst_wrap li {
    width: 245px;
    height: 290px;
}
.instructor .inst_wrap li span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #dedede;
    border-radius: 50%;
}
.instructor .inst_wrap li p:first-of-type {
    margin: 50px 0 30px;
    font-size: 22px;
}
.instructor .inst_wrap li p:last-of-type {
    line-height: 24px;
}













.curriculum {
    background: url(../images/curriculum.jpg);
    color: #dedede;
}
.cur_txt {
    margin: 0 auto;
    width: 1280px;
    margin-bottom: 100px;
}
.cur_txt > h2 {
    display: inline-block;
    margin-right: 50px;
    vertical-align: top;
}
.cur_txt > div {
    display: inline-block;
}
.cur_txt > div > p {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}
.cur_txt > div > span {
    line-height: 20px;
}
.cur_txt > a {
    float: right;
    padding: 15px 43px;
    display: inline-block;
    color: #dedede;
    font-size: 14px;
    vertical-align: top;
}
.cur_txt > a > img {
    margin-left: 10px;
    vertical-align: middle;
}

.cur_con {
}
.cur_con ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1280px;
}
.cur_con ul li {
    position: relative;
    width: 290px;
    height: 400px;
    color: white;
    overflow: hidden;
}
.cur_con ul li > img {
    transition: all .3s;
}
.cur_con ul li:hover > img {
    scale: 1.1;
}
.cur_con ul li:hover .black {
    background-color: rgba(0, 0, 0, 0);
}
.cur_con .black {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    transition: all .3s;
}
.cur_con .black > p {
    position: absolute;
    top: 260px;
    left: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
}
.cur_con .black > span {
    position: absolute;
    left: 20px;
    top: 310px;
    line-height: 20px;
}


.service .tab_content {
    position: absolute;
    top: 200px;
    left: 250px;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
input[type=radio] {
    display: none;
}
.tab_content label {
    display: block;
    position: relative;
    width: 400px;
    padding: 10px 0px 10px 40px;
    font-size: 55px;
    font-family: 'Fugaz One', cursive;
}
input[type=radio]:checked + label {
    background-color: #45d4cc;
    border-radius: 105px 0 105px 0;
    font-size: 65px;
    color: white;
}
.conbox {
    display: none;
    color: white;
    height: 100%;
}
.conbox > p:first-of-type {
    position: absolute;
    top: 550px;
    left: 290px;
    line-height: 25px;
    font-size: 18px;
}
.conbox > p:nth-of-type(2) {
    position: absolute;
    top: 650px;
    left: 290px;
    line-height: 25px;
    font-size: 18px;
}
.con2 > p:nth-of-type(2) {
    position: absolute;
    top: 620px;
    left: 290px;
    line-height: 25px;
    font-size: 18px;
}
.con3 > p:nth-of-type(2) {
    position: absolute;
    top: 600px;
    left: 290px;
    line-height: 25px;
    font-size: 18px;
}
.con3 > p:nth-of-type(3) {
    position: absolute;
    top: 700px;
    left: 290px;
    line-height: 25px;
    font-size: 18px;
}
.con4 > p:nth-of-type(2) {
    position: absolute;
    top: 600px;
    left: 290px;
    line-height: 25px;
    font-size: 18px;
}
.con4 > p:nth-of-type(3) {
    position: absolute;
    top: 700px;
    left: 290px;
    line-height: 25px;
    font-size: 18px;
}
.con4 p {
    color: #dedede;
}
.con1 {
    position: absolute;
    top: -200px;
    left: -250px;
    width: 1920px;
    /* height: 969px; */
    /* height: 100vh; */
    background: url(../images/buddy.jpg);
    z-index: -9999;
}
.con2 {
    position: absolute;
    top: -200px;
    left: -250px;
    width: 1920px;
    /* height: 969px; */
    background: url(../images/instagram.jpg);
    z-index: -9999;
}
.con3 {
    position: absolute;
    top: -200px;
    left: -250px;
    width: 1920px;
    /* height: 969px; */
    background: url(../images/fun.jpg);
    z-index: -9999;
}
.con4 {
    position: absolute;
    top: -200px;
    left: -250px;
    width: 1920px;
    /* height: 969px; */
    background: url(../images/unlimited.jpg);
    z-index: -9999;
}
input[id=buddy]:checked ~ .con1 {
    display: block;
}
input[id=photo]:checked ~ .con2 {
    display: block;
}
input[id=fun]:checked ~ .con3 {
    display: block;
}
input[id=unlimited]:checked ~ .con4 {
    display: block;
}









/* 푸터 */
.footer {
    background: url(../images/footer.jpg);
}
.footer h2 {
    margin-bottom: 500px;
    text-align: center;
}


/* 슬라이드 */

.bx-wrapper {
    position: absolute;
    width: 1920px;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
}
.bx-controls-direction a {
    position: absolute;
    display: inline-block;
    width: 17px;
    height: 28px;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999px;
}
.bx-controls-direction a.bx-prev {
    background-image: url(../images/prev.png);
    left: -5%;
    
}
.bx-controls-direction a.bx-next {
    background-image: url(../images/next.png);
    right: -5%;
}
.footer ul.slider li {
    height: 120px;
}


.inner_container {
    /* position: relative; */
    margin: 0 auto;
    width: 1280px;
    color: #dedede;
}
.inner_container ul.txt > li::after {
    position: absolute;
    content: "";
    display: block;
    margin-left: -11px;
    top: 8px;
    width: 2px;
    height: 14px;
    background-color: #dedede;
}
.inner_container ul.txt > li:first-child::after {
    width: 0;
}
.inner_container a {
    color: #dedede;
    font-size: 14px;
}
.inner_container .wrap01 {
    position: absolute;
    width: 1280px;
    height: 30px;
    bottom: 270px;
    display: flex;
    justify-content: space-between;
}
.inner_container ul.txt {
    float: left;
    display: flex;
    justify-content: space-between;
    width: 370px;
    line-height: 30px;
}
.inner_container ul.sns {
    float: right;
    display: flex;
    justify-content: space-between;
    width: 220px;
    vertical-align: middle;
}
.footer .inner_container + span {
    position: absolute;
    bottom: 260px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dedede;
}
.footer .inner_container .wrap02 {
    display: flex;
    justify-content: space-between;
}
.footer .wrap02 {
    /* display: flex;
    justify-content: space-between; */
    position: absolute;
    width: 1280px;
    bottom: 30px;
    font-size: 14px;
    line-height: 1.5;
}
.footer .wrap02 p:nth-of-type(1) {
    padding-bottom: 50px;
}


/* 인풋 */
.footer .info {
    float: left;
}
.footer .contact {
    float: right;
    width: 372px;
    height: 210px;
}
.footer .contact input[type=text] {
    font-family: 'Pretendard-Regular';
    padding-left: 5px;
    height: 35px;
    background-color: rgba(14, 61, 94, 0);
    border: 1px solid #dedede;
    border-radius: 3px;
    color: #dedede;
}
.footer input::placeholder {
    padding-left: 5px;
    color: #dedede;
}
.footer .contact input:nth-of-type(1)[type=text] {
    margin: 0 10px 10px 0;
    width: 125px;
}
.footer .contact input:nth-of-type(2)[type=text] {
    width: 215px;
}
/* .footer .contact input:nth-of-type(3)[type=text] {
    margin-right: 10px;
    width: 215px;
    height: 135px;
} */
textarea {
    font-family: 'Pretendard-Regular';
    width: 200px;
    height: 127px;
    padding: 10px 10px 0 10px;
    margin-right: 10px;
    background-color: rgba(14, 61, 94, 0);
    border: 1px solid #dedede;
    border-radius: 3px;
    color: #dedede;
}
textarea::placeholder {
    color: #dedede;
}
.footer .contact button {
    position: absolute;
    width: 140px;
    height: 139px;
    background-color: rgba(222, 222, 222, 0.8);
    border: 1px solid #dedede;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
}


#topMenu {
    position: fixed;
    /* left: 50px; */
    /* right: 0; */
    /* left: 0; */
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    text-align: center;
    z-index: 999999999;
    cursor: pointer;
}
#topMenu li {
    width: 10px;
    height: 10px;
    margin: 15px 20px 15px 0;
}
#topMenu li > a {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    transition: all .3s;
}
/* #topMenu li:nth-child(2) > a {
    width: 10px;
    height: 10px;
}
#topMenu li:nth-child(3) > a {
    width: 13px;
    height: 13px;
}
#topMenu li:nth-child(4) > a {
    width: 15px;
    height: 15px;
}
#topMenu li:nth-child(5) > a {
    width: 20px;
    height: 20px;
} */
#topMenu li.active > a {
    display: inline-block;
    scale: 1.5;
    background-color: #45d4cc;
}